.site-header {
	background-color: #000;
	display: table;
	position: relative;
	text-align: center;
	width: 100%;
}

.custom-header-media {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	&:after {
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bf000000',GradientType=0 ); /* IE6-9 */
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.wp-custom-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    img {
	    position: absolute;
	     /*rtl:ignore*/
	    left: 50%;
	    top: 50%;
	    transform: translate3d(0,0,0);
	    transform: translate(-50%, -50%);
    }
	.wp-custom-header-video-button {
		background-color: rgba(34, 34, 34, 0.5);
		border: 1px solid rgba(255, 255, 255, 0.6);
		color: rgba(255, 255, 255, 0.6);
		height: 45px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		right: 30px;
		top: 30px;
		transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
		width: 45px;
		&:hover,
		&:focus {
			border-color: rgba(255, 255, 255, 0.8);
			background-color: rgba(34, 34, 34, 0.8);
			color: #fff;
			outline: none;
		}
	}
}

#wp-custom-header-video {
    position: absolute;
    min-height: 100%;
    min-width: auto;
    max-width: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.wp-custom-header-video-button {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1;
}

.site-branding {
	display: table-cell;
	position: relative;
	text-transform: uppercase;
	height: 100%;
	width: 100%;
	vertical-align: middle;
	padding-top: 3rem;
	padding-bottom: 3rem;
	&,
	a {
		color: #fff;
		&:hover,
		&:focus {
			color: #fff;
		}
	}
}

.site-title,
.site-description {
	text-transform: uppercase;
	margin: 0;
	letter-spacing: .25rem;
}

.site-description {
	@include font-size(0.75);
}

.site-title a{
	border: 3px solid #fff;
	display: inline-block;
	@include font-size(2);
	font-weight: bold;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-bottom: 1rem;
}

a.custom-logo-link {
	display: inline-block;
	max-width: 300px;
}

/** Site Content */
.site-content {
	padding-top: 3rem;
}

/** Site Footer */
.site-footer {
	border-top: 1px solid rgba( 0,0,0,.05 );
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	text-align: center;
}

.site-designer {
	margin-top: .5rem;
	.icon-campaignkit {
		fill: $color__campaign-kit!important;
	}
	a {
		font-weight: bold;
	}
}

/** Return to top */
.return-to-top {
    background-color: #fff;
    border: 1px solid $color__text-main;
    color: $color__text-main;
    width: 48px;
    height: 48px;
	line-height: 48px;
    position: fixed;
    top: .75rem;
    right: 0;
    text-align: center;
    z-index: 5;
    opacity: 0;
    transition: all 0.1s ease-in-out;
    .admin-bar & {
    	top: 2.75rem;
    }
    &:hover,
    &:focus {
    	background-color: $color__link;
    	border-color: $color__link;
    	color: #fff;
    }
	&.off {
	    right: -60px;
	    opacity: 0;
	}
	&.on {
	    right: .75rem;
	    opacity: 1;
	}
}
