$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #eceff1;
$color__background-button: #ff5722;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-submenu: #202020;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

// Link
$color__link: #ff5722;
$color__link-visited: purple;
$color__link-hover: #e64a19;

// Text
$color__text-main: #404040;
$color__text-secondary: #707070;
$color__text-tertiary: #A0A0A0;
$color__text-require: #f44336;

// Button
$color__button: $color__link;
$color__button-hover: $color__link-hover;
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #cfd8dc;
$color__border-abbr: #666;

$color__background-message: #16a085;
$color__background-error: #e74c3c;

$color__campaign-kit: #4a8ff1;

$color__alpha-dark: rgba( 0,0,0,.1 );
$color__alpha-dark05: rgba( 0,0,0,.05 );
$color__alpha-light: rgba( 255,255,255,.1 );
$color__white: #fff;
